<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Tags:</h1>
			<ul class="list-group">
				<% @tags.each do |tag| %>
					<li class="list-group-item">
						<h3><%= link_to tag.name, tag_path(tag.id) %><h3>
						<small class="text-muted">Articles: <%= tag.articles.count %></small>
						<%= link_to "delete tag", tag_path(tag.id), {method: :delete, data: {confirm: "Really delete the tag?"}, class: 'btn btn-danger'} %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
