/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

$main_orange: #D17A22;
$main_red: #4C061D;
$text_background: rgb(243, 243, 243);

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	.navbar {
		background: none;
		.navbar-brand {
			color: $main_orange;
		}
		.navbar-collapse {
			border-left: 2px $text_background solid;
		}
	}
}

.btn.btn-primary {
	width: fit-content;
	background: $main_orange;
	border: none;
	&:hover {
		transform: scale(1.01);
	}
}


.row {
	.col-md-10 {
		.row {
			.col-md-6 {
				a {
					color: inherit;
					text-decoration: none;
					.card {
						height: 300px;
						// &:hover {
						// 	outline: 3px solid $main_orange;
						// 	transition: outline 200ms linear;
						// }
						.card-img-top {
							object-fit: cover;
							max-height: 150px;
						}
					}
				}
			}
		}
	}
}

// Articles#show
.article__manage {
	border-radius: 5px;
	border: 2px $main_red solid;
	a {
		color: inherit;
		width: 100%;
		height: 50%;
		text-decoration: none;
		padding: 0.5em;
		&:hover {
			background: $text-background;
		}
	}
}

.article__body {
	background: $text_background;
	border-radius: 5px;
	p {
		margin-left: 1em;
	}
}

.article__comments {
	border-radius: 5px;
	.card {
		border-top: 2px $main_red solid;
		border-bottom: 2px $main_red solid;
	}
}

// Badges 
.badge, .badge a {
	color: white;
	text-decoration: none;
}

.badge-secondary {
	background: $main_red;
}

// Forms
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $main_orange;
  outline: 0;
  box-shadow: 0 0 0 0.1rem $main_orange;
}

// Notice
.notice {
	background: $main_orange;
	opacity: 0.5;
}